<!DOCTYPE html>
    <html>
        <head>
            <title>
                Nickname Generator
            </title>
        </head>
        <body>
            <h1>
                Nickname Generator
            </h1>

            <p>
                {{ sentence }}
            </p>

            <button onclick="window.location.reload();">
                Generate Nickname
            </button>
            <table>
                {% for dnd in dnd %}                    
                    <tr>
                        <td>{{ nickname_gen.id }}</td>
                        <td>{{ nickname_gen.responese }}</td>
                    </tr>
                    </div>
                {% endfor %}
                </table>
            </div>
        </body>
    </html>    