<!DOCTYPE html>
    <html>
        <head>
            <title>
                Nickname Generator
            </title>
        </head>
        <body>
            <h1>
                Nickname Generator
            </h1>

            <p>
                {{ sentence }}
            </p>

            <button onclick="window.location.reload();">
                Generate Nickname
                <div class="form-group">
                    {{ form.submit }}
                </div>
            </button>
            {% for post in sfia %}
                <div>
                    <h3>{{ post.response }}</h3>                        
                </div>
            {% endfor %}        
            </div>
        </body>
    </html>    